src/dados/*
!src/dados/.gitkeep
src/anotações_col9_2024.txt
src/tarefas_para_col8_2023.txt
src/testes
src/testes/*
src/utils
src/utils/*
src/corregir_areas/*
src/configure_account_projects_ee.py
src/gee_tools.py
src/filterOlds
